.gka-base {
    width: 400px;
    height: 300px;
    /* background-size: contain;*/

    animation-timing-function: steps(1);
    animation-iteration-count: infinite;

    background-repeat: no-repeat;

    animation-fill-mode: forwards;

    background-position: center center;

    /* Play once*/
    /* animation-iteration-count: 1; */ 
}

.animation {
    animation-name: keyframes;
    animation-duration: 1.2s;
}

@-webkit-keyframes keyframes {
    0% {
        background-image: url("img/a01.png");
    }

    5.00% {
        background-image: url("img/a02.png");
    }

    10.00% {
        background-image: url("img/a03.png");
    }

    15.00% {
        background-image: url("img/a04.png");
    }

    20.00% {
        background-image: url("img/a05.png");
    }

    25.00% {
        background-image: url("img/a06.png");
    }

    30.00% {
        background-image: url("img/a07.png");
    }

    35.00% {
        background-image: url("img/a08.png");
    }

    40.00% {
        background-image: url("img/a09.png");
    }

    45.00% {
        background-image: url("img/a10.png");
    }

    50.00% {
        background-image: url("img/a11.png");
    }

    55.00% {
        background-image: url("img/a12.png");
    }

    60.00% {
        background-image: url("img/a13.png");
    }

    65.00% {
        background-image: url("img/a14.png");
    }

    70.00% {
        background-image: url("img/a15.png");
    }

    75.00% {
        background-image: url("img/a16.png");
    }

    80.00% {
        background-image: url("img/a17.png");
    }

    85.00% {
        background-image: url("img/a18.png");
    }

    90.00% {
        background-image: url("img/a19.png");
    }

    95.00% {
        background-image: url("img/a20.png");
    }

    100% {
        background-image: url("img/a20.png");
    }
}
